<!DOCTYPE html>
<html lang="vi" class="js wf-montserrat-n4-active wf-montserrat-n7-active wf-dancingscript-n4-active wf-active"><!--<![endif]--><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://mauweb.monamedia.net/gwatch/xmlrpc.php">

    <script src="http://mauweb.monamedia.net/gwatch/wp-includes/js/zxcvbn.min.js" type="text/javascript" async=""></script><script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script><script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
    <title>Sản Phẩm - ID</title>
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin gwatch »" href="http://mauweb.monamedia.net/gwatch/feed/">
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi gwatch »" href="http://mauweb.monamedia.net/gwatch/comments/feed/">
    <link rel="alternate" type="application/rss+xml" title="gwatch » BA-110PP-7ADR Dòng phản hồi" href="http://mauweb.monamedia.net/gwatch/san-pham/ba-110pp-7adr/feed/">
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.12"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script><script src="http://mauweb.monamedia.net/gwatch/wp-includes/js/wp-emoji-release.min.js?ver=4.9.12" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="dashicons-css" href="http://mauweb.monamedia.net/gwatch/wp-includes/css/dashicons.min.css?ver=4.9.12" type="text/css" media="all">
    <link rel="stylesheet" id="menu-icons-extra-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/ot-flatsome-vertical-menu/libs/menu-icons/css/extra.min.css?ver=0.10.2" type="text/css" media="all">
    <link rel="stylesheet" id="hrw-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/call-now-icon-animate/css.css" type="text/css" media="">
    <link rel="stylesheet" id="contact-form-7-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.5" type="text/css" media="all">
    <link rel="stylesheet" id="ot-vertical-menu-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/ot-flatsome-vertical-menu/assets/css/ot-vertical-menu.css?ver=1.1.0" type="text/css" media="all">
    <link rel="stylesheet" id="photoswipe-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.css?ver=3.5.1" type="text/css" media="all">
    <link rel="stylesheet" id="photoswipe-default-skin-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.css?ver=3.5.1" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required { visibility: visible; }
    </style>
    <link rel="stylesheet" id="flatsome-icons-css" href="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/css/fl-icons.css?ver=3.3" type="text/css" media="all">
    <link rel="stylesheet" id="easy-social-share-buttons-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/easy-social-share-buttons3/assets/css/default-retina/easy-social-share-buttons.css?ver=3.7.3" type="text/css" media="all">
    <link rel="stylesheet" id="essb-cct-style-css" href="http://mauweb.monamedia.net/gwatch/wp-content/plugins/easy-social-share-buttons3/lib/modules/click-to-tweet/assets/css/styles.css?ver=3.7.3" type="text/css" media="all">
    <link rel="stylesheet" id="bfa-font-awesome-css" href="//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css?ver=4.7.0" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-main-css" href="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/css/flatsome.css?ver=3.7.1" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-shop-css" href="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/css/flatsome-shop.css?ver=3.7.1" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-style-css" href="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome-child/style.css?ver=3.7.1" type="text/css" media="all">
    <script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <link rel="https://api.w.org/" href="http://mauweb.monamedia.net/gwatch/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://mauweb.monamedia.net/gwatch/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://mauweb.monamedia.net/gwatch/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.9.12">
    <meta name="generator" content="WooCommerce 3.5.1">
    <link rel="canonical" href="http://mauweb.monamedia.net/gwatch/san-pham/ba-110pp-7adr/">
    <link rel="shortlink" href="http://mauweb.monamedia.net/gwatch/?p=403">
    <link rel="alternate" type="application/json+oembed" href="http://mauweb.monamedia.net/gwatch/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fmauweb.monamedia.net%2Fgwatch%2Fsan-pham%2Fba-110pp-7adr%2F">
    <link rel="alternate" type="text/xml+oembed" href="http://mauweb.monamedia.net/gwatch/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fmauweb.monamedia.net%2Fgwatch%2Fsan-pham%2Fba-110pp-7adr%2F&amp;format=xml">

    <!-- Call Now Icon Animate Mobile 0.1.1 by Alan Tien (alantien.com) -->
    <style>.mypage-alo-ph-circle {border-color: #cc9a00;}
        .mypage-alo-ph-circle-fill {background-color:#cc9a00;}
        .mypage-alo-ph-img-circle {background-color: #cc9a00;}.mypage-alo-phone:hover .mypage-alo-ph-circle {border-color: #43b91e;}
        .mypage-alo-phone:hover .mypage-alo-ph-circle-fill {background-color:#43b91e;}
        .mypage-alo-phone:hover .mypage-alo-ph-img-circle {background-color: #43b91e;}</style><style>.bg{opacity: 0; transition: opacity 1s; -webkit-transition: opacity 1s;} .bg-loaded{opacity: 1;}</style><!--[if IE]><link rel="stylesheet" type="text/css" href="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ "Montserrat:regular,700","Montserrat:regular,regular","Montserrat:regular,700","Dancing+Script", ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
    <style type="text/css">.essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after { color: #777777;content: "shares";display: block;font-size: 11px;font-weight: normal;text-align: center;text-transform: uppercase;margin-top: -5px; } .essb_links_list li.essb_totalcount_item .essb_t_l_big, .essb_links_list li.essb_totalcount_item .essb_t_r_big { text-align: center; }.essb_displayed_sidebar .essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_displayed_sidebar .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after { margin-top: 0px; } .essb_displayed_sidebar_right .essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_displayed_sidebar_right .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after { margin-top: 0px; } .essb_totalcount_item_before, .essb_totalcount_item_after { display: block !important; }.essb_totalcount_item_before .essb_totalcount, .essb_totalcount_item_after .essb_totalcount { border: 0px !important; }.essb_counter_insidebeforename { margin-right: 5px; font-weight: bold; }.essb_width_columns_1 li { width: 100%; }.essb_width_columns_1 li a { width: 92%; }.essb_width_columns_2 li { width: 49%; }.essb_width_columns_2 li a { width: 86%; }.essb_width_columns_3 li { width: 32%; }.essb_width_columns_3 li a { width: 80%; }.essb_width_columns_4 li { width: 24%; }.essb_width_columns_4 li a { width: 70%; }.essb_width_columns_5 li { width: 19.5%; }.essb_width_columns_5 li a { width: 60%; }.essb_width_columns_6 li { width: 16%; }.essb_width_columns_6 li a { width: 55%; }.essb_links li.essb_totalcount_item_before, .essb_width_columns_1 li.essb_totalcount_item_after { width: 100%; text-align: left; }.essb_network_align_center a { text-align: center; }.essb_network_align_right .essb_network_name { float: right;}</style>
    <script type="text/javascript">var essb_settings = {"ajax_url":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-admin\/admin-ajax.php","essb3_nonce":"c66c9d87ca","essb3_plugin_url":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-content\/plugins\/easy-social-share-buttons3","essb3_facebook_total":true,"essb3_admin_ajax":false,"essb3_internal_counter":false,"essb3_stats":false,"essb3_ga":false,"essb3_ga_mode":"simple","essb3_counter_button_min":0,"essb3_counter_total_min":0,"blog_url":"http:\/\/mauweb.monamedia.net\/gwatch\/","ajax_type":"wp","essb3_postfloat_stay":false,"essb3_no_counter_mailprint":false,"essb3_single_ajax":false,"twitter_counter":"self","post_id":403};</script><style id="custom-css" type="text/css">:root {--primary-color: #555555;}/* Site Width */.full-width .ubermenu-nav, .container, .row{max-width: 1230px}.row.row-collapse{max-width: 1200px}.row.row-small{max-width: 1222.5px}.row.row-large{max-width: 1260px}body.framed, body.framed header, body.framed .header-wrapper, body.boxed, body.boxed header, body.boxed .header-wrapper, body.boxed .is-sticky-section{ max-width: 1260px}.header-main{height: 120px}#logo img{max-height: 120px}#logo{width:200px;}.header-top{min-height: 30px}.has-transparent + .page-title:first-of-type,.has-transparent + #main > .page-title,.has-transparent + #main > div > .page-title,.has-transparent + #main .page-header-wrapper:first-of-type .page-title{padding-top: 150px;}.header.show-on-scroll,.stuck .header-main{height:70px!important}.stuck #logo img{max-height: 70px!important}.search-form{ width: 60%;}.header-bg-color, .header-wrapper {background-color: rgba(255,255,255,0.75)}.header-bg-image {background-image: url('http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/header-bg.jpg');}.header-bg-image {background-repeat: repeat;}.header-bottom {background-color: #f1f1f1}.header-main .nav > li > a{line-height: 16px }@media (max-width: 549px) {.header-main{height: 70px}#logo img{max-height: 70px}}.nav-dropdown{border-radius:3px}.nav-dropdown{font-size:90%}.header-top{background-color:#0a0a0a!important;}/* Color */.accordion-title.active, .has-icon-bg .icon .icon-inner,.logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active> a,.nav-outline >li.active > a, .cart-icon strong,[data-color='primary'], .is-outline.primary{color: #555555;}/* Color !important */[data-text-color="primary"]{color: #555555!important;}/* Background Color */[data-text-bg="primary"]{background-color: #555555;}/* Background */.scroll-to-bullets a,.featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current,.nav-pagination > li > span:hover,.nav-pagination > li > a:hover,.has-hover:hover .badge-outline .badge-inner,button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline),.featured-table .title,.is-outline:hover, .has-icon:hover .icon-label,.nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover,.grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt,.nav-box > li > a:hover,.nav-box > li.active > a,.nav-pills > li.active > a ,.current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before,.banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner{background-color: #555555;}/* Border */.nav-vertical.nav-tabs > li.active > a,.scroll-to-bullets a.active,.nav-pagination > li > .current,.nav-pagination > li > span:hover,.nav-pagination > li > a:hover,.has-hover:hover .badge-outline .badge-inner,.accordion-title.active,.featured-table,.is-outline:hover, .tagcloud a:hover,blockquote, .has-border, .cart-icon strong:after,.cart-icon strong,.blockUI:before, .processing:before,.loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover{border-color: #555555}.nav-tabs > li.active > a{border-top-color: #555555}.widget_shopping_cart_content .blockUI.blockOverlay:before { border-left-color: #555555 }.woocommerce-checkout-review-order .blockUI.blockOverlay:before { border-left-color: #555555 }/* Fill */.slider .flickity-prev-next-button:hover svg,.slider .flickity-prev-next-button:hover .arrow{fill: #555555;}/* Background Color */[data-icon-label]:after, .secondary.is-underline:hover,.secondary.is-outline:hover,.icon-label,.button.secondary:not(.is-outline),.button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button{ background-color:#dd3333; }[data-text-bg="secondary"]{background-color: #dd3333;}/* Color */.secondary.is-underline,.secondary.is-link, .secondary.is-outline,.stars a.active, .star-rating:before, .woocommerce-page .star-rating:before,.star-rating span:before, .color-secondary{color: #dd3333}/* Color !important */[data-text-color="secondary"]{color: #dd3333!important;}/* Border */.secondary.is-outline:hover{border-color:#dd3333}body{font-size: 100%;}@media screen and (max-width: 549px){body{font-size: 100%;}}body{font-family:"Montserrat", sans-serif}body{font-weight: 0}body{color: #777777}.nav > li > a {font-family:"Montserrat", sans-serif;}.nav > li > a {font-weight: 700;}h1,h2,h3,h4,h5,h6,.heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a{font-family: "Montserrat", sans-serif;}h1,h2,h3,h4,h5,h6,.heading-font,.banner h1,.banner h2{font-weight: 700;}h1,h2,h3,h4,h5,h6,.heading-font{color: #555555;}.alt-font{font-family: "Dancing Script", sans-serif;}a{color: #555555;}a:hover{color: #dd3333;}.tagcloud a:hover{border-color: #dd3333;background-color: #dd3333;}.shop-page-title.featured-title .title-bg{ background-image: url(http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/ba-110pp-7adr-01.png)!important;}@media screen and (min-width: 550px){.products .box-vertical .box-image{min-width: 300px!important;width: 300px!important;}}.footer-2{background-color: #777777}.absolute-footer, html{background-color: #000000}.label-new.menu-item > a:after{content:"New";}.label-hot.menu-item > a:after{content:"Hot";}.label-sale.menu-item > a:after{content:"Sale";}.label-popular.menu-item > a:after{content:"Popular";}</style>		<style type="text/css" id="wp-custom-css">
        /*---------global-----------*/
        html{overflow-x:hidden}
        body{overflow-x:hidden}
        /*---căn đều sẳn phẩm---*/
        .has-shadow>.col>.col-inner {
            height: 100%;
        }
        .flickity-viewport .col.is-selected {
            height: 100%;
        }
        .flickity-viewport .col-inner {
            height: 100%;
        }
        .product-small.box.has-hover.box-normal.box-text-bottom {
            height: 100%;
        }
        /*.product-small.box:hover {
             border: 2px dashed #ddd;
        }*/
        /*---giới hạn chữ tên sản phẩm---*/
        p.name.product-title a{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 1.3em;
            margin-bottom: 10px;
        }
        /*---style product price---*/
        .price-wrapper{
            display: table;
        }
        .price-wrapper .price{
            height: 1.3em;
            display: table-cell;
            vertical-align:middle;
            text-align: center;
            line-height: 120%;
        }
        .product-short-description {
            padding-top: 1em;
            padding-bottom: 0.5em;
        }

        /*---style related product---*/
        .related-products-wrapper .product-small.box {
            background-color: #fff;
            /*box-shadow: 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
            border: 2px solid #ddd;
        }
        /*
        .related-products-wrapper .product-small.box:hover {
            box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }*/
        .related-products-wrapper .box-text.box-text-products {
            padding: 15px;
        }
        .slider-nav-reveal .flickity-prev-next-button:hover, .slider-nav-reveal .flickity-prev-next-button {
            width: 30px;
            top: -2px;
            bottom: 0;
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            box-shadow: 0 -150px 15px 0 rgba(0,0,0,0);
            margin: 0 !important;
        }
        /*---end style related product---*/

        /*-style tiêu đề bài viết trước sau-*/
        .nav-previous,
        .nav-next {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: auto;
        }
        /*---style giới hạn chữ bài viết---*/
        .blog-archive h5.post-title.is-large {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 2.6em;
        }
        .blog-archive p.from_the_blog_excerpt {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 3em;
        }

        /*---style shop and product sidebar---*/
        .category-page-row .shop-container {
            background-color: #fff;
            padding: 0px;
        }
        .product-main .col.large-9,
        .blog-archive .large-9.col.medium-col-first {
            background-color: #fff;
            padding: 30px;
        }
        .blog-single .large-9.col.medium-col-first {
            padding: 0;
        }
        #shop-sidebar aside,
        #product-sidebar aside,
        .post-sidebar aside {
            background-color: #fff;
            padding: 20px 0 0 0;
            border: 1px solid #eee;
        }
        .widget.widget_search{
            padding: 30px 0 0 0;
            border: 0px solid #eee;
        }
        #shop-sidebar .widget-title,
        #product-sidebar .widget-title,
        .post-sidebar .widget-title {
            padding: 20px;
            color: #dd3333;
        }
        #shop-sidebar ul,
        #product-sidebar ul,
        .post-sidebar ul {
            font-size: 14px;
            font-weight: bold;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0;
            background-color: #fff;
        }
        #shop-sidebar ul li,
        #product-sidebar ul li,
        .post-sidebar ul li {
            padding: 5px 20px;
        }
        #shop-sidebar ul li:nth-child(odd),
        #product-sidebar ul li:nth-child(odd),
        .post-sidebar ul li:nth-child(odd) {
            background-color: #f8f8f8;
        }
        #shop-sidebar ul li:hover,
        #product-sidebar ul li:hover,
        .post-sidebar ul li:hover {
            background-color: #dd3333;
        }
        #shop-sidebar ul li:hover a,
        #product-sidebar ul li:hover a,
        .post-sidebar ul li:hover a,
        #shop-sidebar ul li:hover ins span,
        #product-sidebar ul li:hover ins span,
        #shop-sidebar ul li:hover del span,
        #product-sidebar ul li:hover del span,
        #shop-sidebar ul li:hover span.amount,
        #product-sidebar ul li:hover span.amount{
            color: #fff;
        }
        #shop-sidebar ul.product_list_widget li,
        #product-sidebar ul.product_list_widget li {
            list-style: none;
            padding: 15px 10px 15px 90px;
            min-height: 80px;
            position: relative;
            overflow: hidden;
            vertical-align: top;
            line-height: 1.33;
        }
        #shop-sidebar ul.product_list_widget li img,
        #product-sidebar ul.product_list_widget li img  {
            top: 10px;
            position: absolute;
            left: 20px;
            width: 60px;
            height: 60px;
            margin-bottom: 5px;
            object-fit: cover;
            object-position: 50% 50%;
        }

        #shop-sidebar ul li+li,
        #product-sidebar ul li+li,
        .post-sidebar ul li+li {
            border-top: 1px solid #ececec;
        }

        #shop-sidebar .is-divider,
        #product-sidebar .is-divider,
        .post-sidebar .is-divider {
            height: 1.5px;
            display: block;
            background-color: rgba(0,0,0,0.1);
            margin: 20px 0 0 0;
            width: 100%;
            max-width: 100%;
        }

        #shop-sidebar ul.product_list_widget li a:not(.remove),
        #product-sidebar ul.product_list_widget li a:not(.remove) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 1.3em;
        }
        #shop-sidebar .recent-blog-posts a,
        #product-sidebar .recent-blog-posts a,
        .post-sidebar .recent-blog-posts a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 2.3em;
            color: #444;
        }
        #shop-sidebar span.post_comments.op-7.block.is-xsmall,
        #product-sidebar span.post_comments.op-7.block.is-xsmall,
        #product-sidebar span.post_comments.oppercase.op-7.block.is-xsmall,
        .post-sidebar span.post_comments.op-7.block.is-xsmall {
            display: none;
        }

        .post-sidebar input.search-field.mb-0 {
            height: 45px;
            border-radius: 3px 0 0 3px;
        }
        .post-sidebar button.ux-search-submit.submit-button.secondary.button.icon.mb-0 {
            width: 45px;
            height: 45px;
            border-radius: 0 3px 3px 0;
        }

        #shop-sidebar .price_slider_wrapper {
            padding: 30px 15px 15px 15px;
            font-size: 0.8em;
        }
        /*---end style shop and product sidebar---*/

        /*---style filter in sidebar---*/
        ul.woocommerce-widget-layered-nav-list {
            max-height: 300px;
            overflow: auto;
            padding-right: 20px;
        }
        ul.product_list_widget {
            font-size: 14px;
        }
        /*---end style filter in sidebar---*/

        /*---style act_product---*/
        .acf_product {
            font-size: 12px;
            display: block;
            background: #fffee7;
            border: 1px solid #ccc;
            padding: 10px !important;
            border-radius: 5px;
            max-height: 125px !important;
            overflow-y: auto !important;
            margin-bottom: 2em;
        }
        .acf_product a {
            color: #fa5400;
        }

        /*---z-index sidebar mobile---*/
        .mfp-wrap {
            z-index: 900001;
        }
        /*--------end global--------*/


        /*---------header-----------*/
        /*---style mona_html---*/
        .mona_html {
            font-size: 14px;
        }
        .mona_html:before {
            content: "";
            font-family: FontAwesome;
            font-size: 22px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            color: #dd3333;
        }
        .mona_html.showroom:before {
            content: "\f015";
        }
        .mona_html.hotline:before {
            content: "\f2a0";
            animation-name: tada;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        .mona_html a {
            color: #fff;
        }
        .mona_html a:hover {
            color: #fff;
            font-weight: 700;
        }
        /*---style active nav---*/
        .header-main .nav > li:hover > a,
        .header-main .nav > li.current-menu-item > a,
        .header-main .nav > li.current-menu-parent > a,
        .header-main .nav > li.current-post-parent > a,
        .header-main .nav > li.current-product-parent > a,
        .header-main .nav > li.current_page_parent > a,
        .header-main .nav > li.current-product-ancestor > a {
            color: #dd3333;
        }
        /*--------end header--------*/


        /*---------content-----------*/
        /*-----style contact form-----*/
        .form-ct {
            width: 780px;
            margin: 0 auto;
            max-width: 100%;
        }
        .form-ct .form-row {
            padding: 5px;
            float: left;
            width: 100%;
            margin-bottom: 0;
        }
        .form-ct .form-row.w50 {
            width: 50%;
        }
        .form-ct input,
        .form-ct textarea{
            margin-bottom: 0;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0);
        }
        .form-ct .center-txt {
            text-align: center;
        }
        .form-ct .center-txt input{
            min-width: 50%;
        }
        .form-ct .wpcf7-form-control:focus {
            border-color: #f8b742;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
        }
        /*---end style contact form---*/

        /*---style mona_title---*/
        .mona_title {
            font-size: 1.8em;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 1.3em;
            position: relative;
            margin: 0;
            margin-bottom: 0.8em;
            padding-bottom: 1.3em;
        }
        .mona_title:before {
            position: absolute;
            bottom: 0.60rem;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 5px;
            background: linear-gradient(to right,#2d3855 0%,#2d3855 30%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 67%,#2d3855 67%, #2d3855 100%);
        }
        .mona_title:after {
            position: absolute;
            bottom: 0;
            content: "\f017";
            font-family: FontAwesome;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            line-height: 1;
            color: #c82a36;
        }

        /*---style sec_tieuchi---*/
        .sec_tieuchi .icon-box-left{
            display: block;
            text-align: center;
        }
        .sec_tieuchi .icon-box-left .icon-box-img{
            display: inline-block;
            vertical-align: middle;
        }
        .sec_tieuchi .icon-box-left .icon-box-img+.icon-box-text{
            display: inline-block;
            vertical-align: middle;
        }

        /*---style sec_tintuc---*/
        .sec_tintuc h5.post-title.is-large {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 2.6em;
            margin-bottom: 0.5em;
        }
        .sec_tintuc .is-divider {
            display: none;
        }
        .sec_tintuc p.from_the_blog_excerpt {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 3em;
            opacity: 0.75;
        }
        .sec_tintuc .box.box-normal.box-text-bottom.box-blog-post.has-hover {
            border-radius: 15px;
            -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
            -moz-box-shadow: 0 5px 20px rgba(0,0,0,.1);
            -ms-box-shadow: 0 5px 20px rgba(0,0,0,.1);
            -o-box-shadow: 0 5px 20px rgba(0,0,0,.1);
            box-shadow: 0 5px 20px rgba(0,0,0,.1);
        }
        .sec_tintuc .box-text.text-left {
            padding: 1.5em;

        }
        .sec_tintuc img.attachment-original.size-original.wp-post-image {
            border-radius: 15px 15px 0 0;
        }
        .sec_tintuc button.button.is-link.is-small.mb-0 {
            text-transform: capitalize;
        }
        .sec_tintuc button.button.is-link.is-small.mb-0:after {
            content: "\f0da";
            font-family: FontAwesome;
            display: inline-block;
            vertical-align: baseline;
            margin-left: 5px;
            color: #dd3333;
        }
        /*---end style sec_tintuc---*/
        /*--------end content--------*/


        /*---------footer-----------*/
        .sec_footer p{
            color: #f1f1f1;
            font-size: 14px;
            margin-bottom: 0.8em;
        }
        .sec_footer a{
            color: #f1f1f1;
            font-size: 14px;
        }
        .sec_footer a:hover{
            color: #dd3333 !important;
        }
        .sec_footer .icon-box-img {
            width: 14px !important;
        }

        .mona_sidebar_footer ul {
            margin: 0;
        }
        .mona_sidebar_footer ul.menu>li+li,
        .mona_sidebar_footer .widget>ul>li+li {
            border-top: 0px dashed rgba(238, 238, 238, 0.3);
        }
        .mona_sidebar_footer ul li a:before {
            content: "\f0da";
            font-family: FontAwesome;
            display: inline-block;
            vertical-align: baseline;
            margin: 0 15px 0 5px;
        }
        .mona_sidebar_footer ul li:hover a:before {
            animation-name: tada;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        .mona_sidebar_footer ul > li:hover > a,
        .mona_sidebar_footer ul > li.current-menu-item > a,
        .mona_sidebar_footer ul > li.current-menu-parent > a,
        .mona_sidebar_footer ul > li.current-post-parent > a,
        .mona_sidebar_footer ul > li.current_page_parent > a,
        .mona_sidebar_footer ul > li.current-product-parent > a,
        .mona_sidebar_footer ul > li.current-product-ancestor > a {
            color: #dd3333;
        }

        /*---style form dang ky---*/
        .sec_footer form.wpcf7-form {
            margin-bottom: 0;
        }
        .sec_footer .wpcf7 p {
            display: inline-flex;
        }
        .sec_footer input#email-dang-ky {
            height: 40px;
            border-radius: 3px 0 0 3px;
            border-right: 0;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0);
        }
        .sec_footer input#btn-gui {
            height: 40px;
            border-radius: 0 3px 3px 0;
        }
        .mona-hiden{
            display:none !important;
        }
        #btn-gui-icon {
            height: 40px;
            border-radius: 0 3px 3px 0;
            color: #dd3333;
            background-color: #fff;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0);
            border: 1px solid #ddd;
            border-left: 0;
            cursor: pointer;
            width: 40px;
            line-height: 40px;
            text-align: center;
        }
        /*--------end footer--------*/

        /*-----style mobile mode-----*/
        @media screen and (max-width: 549px){

        }
        /*---end style mobile mode---*/		</style><link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:regular,700%7CMontserrat:regular,regular%7CMontserrat:regular,700%7CDancing+Script" media="all">
</head>

<body class="product-template-default single single-product postid-403 woocommerce woocommerce-page woocommerce-js lightbox nav-dropdown-has-arrow">


<a class="skip-link screen-reader-text" href="#main">Skip to content</a>

<div id="wrapper">


    <header id="header" class="header has-sticky sticky-jump">
        <div class="header-wrapper">
            <div id="top-bar" class="header-top hide-for-sticky nav-dark hide-for-medium">
                <div class="flex-row container">
                    <div class="flex-col hide-for-medium flex-left">
                        <ul class="nav nav-left medium-nav-center nav-small  nav-divided">
                            <li class="html header-social-icons ml-0">
                            <li class="html custom html_topbar_left"><p class="mona_html showroom"><strong>SHOP: </strong>12 Nguyễn Văn Bảo P.4 Quận Gò Vấp TP.HCM</p></li>
                        </ul>
                    </div><!-- flex-col left -->

                    <div class="flex-col hide-for-medium flex-center">
                        <ul class="nav nav-center nav-small  nav-divided">
                        </ul>
                    </div><!-- center -->

                    <div class="flex-col hide-for-medium flex-right">
                        <ul class="nav top-bar-nav nav-right nav-small  nav-divided">
                            <li class="html custom html_topbar_right"><p class="mona_html hotline"><strong>HOTLINE: </strong><a href="tel:0769220162">0932774940 / 0903809504 / 0346065968</a></p></li>
                        </ul>
                    </div><!-- .flex-col right -->


                </div><!-- .flex-row -->
            </div><!-- #header-top -->
            <div id="masthead" class="header-main show-logo-center">
                <div class="header-inner flex-row container logo-center medium-logo-center" role="navigation">

                    <!-- Logo -->
                    <div id="logo" class="flex-col logo">
                        <!-- Header logo -->
                        <a href="http://localhost:3000/" title="gwatch" rel="home">
                            <img width="200" height="120" src="../public/images/logo.png" class="header_logo header-logo" alt="hqboutiques"/><img width="200" height="120" src="../public/images/logo.png" class="header-logo-dark" alt="hqboutiques"/></a>
                    </div>

                    <!-- Mobile Left Elements -->
                    <div class="flex-col show-for-medium flex-left">
                        <ul class="mobile-nav nav nav-left ">
                            <li class="nav-icon has-icon">
                                <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">

                                    <i class="fa fa-bars" ></i>
                                </a>
                            </li>            </ul>
                    </div>

                    <!-- Left Elements -->
                    <div class="flex-col hide-for-medium flex-left
            ">
                        <ul class="header-nav header-nav-main nav nav-left  nav-size-medium nav-spacing-large nav-uppercase" >
                            <li id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home  menu-item-476"><a href="http://localhost:3000" class="nav-top-link">TRANG CHỦ</a></li>
                            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children active  menu-item-54 has-dropdown"><a href="http://localhost:3000/listproduct" class="nav-top-link">Shop&nbsp;<i class="fa fa-bars" ></i></a>
                                <ul class='nav-dropdown nav-dropdown-simple'>
                                    <li id="menu-item-459" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-459"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/aviator/">Áo</a></li>
                                    <li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-460"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/baby-g/">Quần</a></li>
                                    <li id="menu-item-461" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item active  menu-item-461"><a href="index.html">Giày</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-23"><a href="http://mauweb.monamedia.net/gwatch/lien-he/" class="nav-top-link">Liên hệ</a></li>
                        </ul>
                    </div>

                    <!-- Right Elements -->
                    <div class="flex-col hide-for-medium flex-right">
                        <ul class="header-nav header-nav-main nav nav-right  nav-size-medium nav-spacing-large nav-uppercase">
                            <li class="header-search-form search-form html relative has-icon">
                                <div class="header-search-form-wrapper">
                                    <div class="searchform-wrapper ux-search-box relative form-flat is-normal"><form role="search" method="get" class="searchform" action="http://mauweb.monamedia.net/gwatch/">
                                            <div class="flex-row relative">
                                                <div class="flex-col flex-grow">
                                                    <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm ..." />
                                                    <input type="hidden" name="post_type" value="product" />
                                                </div><!-- .flex-col -->
                                                <div class="flex-col">
                                                    <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                                        <i class="fa fa-search" ></i>				</button>
                                                </div><!-- .flex-col -->
                                            </div><!-- .flex-row -->
                                            <div class="live-search-results text-left z-top"></div>
                                        </form>
                                    </div>	</div>
                            </li><li class="header-divider"></li><li class="cart-item has-icon has-dropdown">

                                <a href="http://mauweb.monamedia.net/gwatch/gio-hang/" title="Giỏ hàng" class="header-cart-link is-small">


<span class="header-cart-title">
    Giỏ Hàng
</span>

                                    <i class="fa fa-shopping-cart"
                                       data-icon-label="0">
                                    </i>
                                </a>

                                <ul class="nav-dropdown nav-dropdown-simple">
                                    <li class="html widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">


                                            <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>


                                        </div>
                                    </li>
                                </ul><!-- .nav-dropdown -->

                            </li>
                        </ul>
                    </div>

                    <!-- Mobile Right Elements -->
                    <div class="flex-col show-for-medium flex-right">
                        <ul class="mobile-nav nav nav-right ">
                            <li class="cart-item has-icon">

                                <a href="http://mauweb.monamedia.net/gwatch/gio-hang/" class="header-cart-link off-canvas-toggle nav-top-link is-small" data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng" data-pos="right">

                                    <i class="fa fa-shopping-cart"
                                       data-icon-label="0">
                                    </i>
                                </a>


                                <!-- Cart Sidebar Popup -->
                                <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                    <div class="cart-popup-inner inner-padding">
                                        <div class="cart-popup-title text-center">
                                            <h4 class="uppercase">Giỏ hàng</h4>
                                            <div class="is-divider"></div>
                                        </div>
                                        <div class="widget_shopping_cart_content">


                                            <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>


                                        </div>
                                        <div class="cart-sidebar-content relative"></div>  </div>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div><!-- .header-inner -->

                <!-- Header divider -->
                <div class="container"><div class="top-divider full-width"></div></div>
            </div><!-- .header-main -->
            <div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div><!-- .header-bg-container -->   </div><!-- header-wrapper-->
    </header>


    <main id="main" class="">
        <div id="layouttongquat_main" style="margin: 16px">
            <div id="sanpham_chinh">
                <div class="row">
                    <div class="col-6">
                        <div id="hinhanhthem">
                            <img src="../public/images/productmau.jpg" width="85" height="76" id="chitiethinh" onmouseover="doihinh('../public/images/productmau.jpg')">
                            <img src="../public/images/productmau2.jpg" width="85" height="76" id="chitiethinh" onmouseover="doihinh('../public/images/productmau2.jpg')">
                            <img src="../public/images/productmau3.jpg" width="85" height="76" id="chitiethinh" onmouseover="doihinh('../public/images/productmau3.jpg')">
                            <img src="../public/images/productmau4.jpg" width="85" height="76" id="chitiethinh" onmouseover="doihinh('../public/images/productmau4.jpg')">
                        </div>
                        <img src="../public/images/productmau.jpg" width="500" height="630" style="float:left;" id="hinhlon">
                    </div>
                    <div class="col-6" style="margin-left: 30px">
                        <div id="chitiet_sanpham">
                            <span style="font-weight:bold;font-size:24px;color:#333;">WASHED T-SHIRT WITH GUCCI LOGO</span><br><br>
                            <span style="font-weight:bold;font-size:18px;color: red">450 USD</span><br>
                            <br>
                            <form class="form-inline">
                                <b>SIZE:</b>
                                <select style="width: 70px">
                                    <option value="37">37</option>
                                    <option value="37.5">37.5</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="42">43</option>
                                    <option value="42">45</option>
                                </select>
                            </form>

                            <b>SỐ LƯỢNG: </b><br><div class="quantity buttons_added">
		<input type="button" value="-" class="minus button is-form">		<label class="screen-reader-text" for="quantity_5dae7ceca7eed">Số lượng</label>
		<input type="number" id="quantity_5dae7ceca7eed" class="input-text qty text" step="1" min="1" max="9999" name="quantity" value="1" title="SL" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
		<input type="button" value="+" class="plus button is-form">	</div>
                            <button id="btn_addcart" type="button" class="btn btn-outline-warning" style="font-size: small;border-color: orange;border-radius: 5px;">THÊM VÀO GIỎ</button>
                            <div id="info_product" style="margin-top: 30px">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold">THÔNG TIN SẢN PHẨM</span><br>
                                <ul style="list-style-type:circle">
                                    <li>Heel shelf stabilises the back of your foot to help keep your heel from rocking as your foot lands</li>
                                    <li>Synthetic suede heel lining helps prevent slippage and blisters</li>
                                    <li>Weight: 239g approx. (men's size 9)</li>
                                    <li>Offset: 10mm</li>
                                    <li>Fits true to size for a snug fit. If you prefer a slightly bigger fit, we recommend ordering a ½ size up.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="sanpham_phu" style="margin-top: 150px">
                <div class="row" style="margin-inside: 16px">
                            <div class="col-3">
                                            <a href="http://localhost:3000/detailproduct">
                                                <img width="270" height="" src="../public/images/productmau.jpg">
                                            </a>
                                    <div class="box-text box-text-products text-center grid-style-2">
                                        <div class="title-wrapper"><p class="name product-title"><a href="ttp://localhost:3000/detailproduct">Tên sản phẩm</a></p></div><div class="price-wrapper">
                                            <span class="price"><ins><span class="woocommerce-Price-amount amount">Giá tiền&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                                        </div><div class="add-to-cart-button"><a href="/gwatch/san-pham/gg-1000-1a8dr/?add-to-cart=422" rel="nofollow" data-product_id="422" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-flat mb-0 is-small">Thêm vào giỏ</a></div>		</div><!-- box-text -->
                            </div>
                    <div class="col-3" style="margin-left: 16px">
                        <a href="http://localhost:3000/detailproduct">
                            <img width="270" height="" src="../public/images/productmau.jpg">
                        </a>
                        <div class="box-text box-text-products text-center grid-style-2">
                            <div class="title-wrapper"><p class="name product-title"><a href="ttp://localhost:3000/detailproduct">Tên sản phẩm</a></p></div><div class="price-wrapper">
                                <span class="price"><ins><span class="woocommerce-Price-amount amount">Giá tiền&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                            </div><div class="add-to-cart-button"><a href="/gwatch/san-pham/gg-1000-1a8dr/?add-to-cart=422" rel="nofollow" data-product_id="422" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-flat mb-0 is-small">Thêm vào giỏ</a></div>		</div><!-- box-text -->
                    </div>

                    <div class="col-3" style="margin-left: 16px">
                        <a href="http://localhost:3000/detailproduct">
                            <img width="270" height="" src="../public/images/productmau.jpg">
                        </a>
                        <div class="box-text box-text-products text-center grid-style-2">
                            <div class="title-wrapper"><p class="name product-title"><a href="ttp://localhost:3000/detailproduct">Tên sản phẩm</a></p></div><div class="price-wrapper">
                                <span class="price"><ins><span class="woocommerce-Price-amount amount">Giá tiền&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                            </div><div class="add-to-cart-button"><a href="/gwatch/san-pham/gg-1000-1a8dr/?add-to-cart=422" rel="nofollow" data-product_id="422" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-flat mb-0 is-small">Thêm vào giỏ</a></div>		</div><!-- box-text -->
                    </div>

                    <div class="col-3 " style="margin-left: 16px">
                        <a href="http://localhost:3000/detailproduct">
                            <img width="270" height="" src="../public/images/productmau.jpg">
                        </a>
                        <div class="box-text box-text-products text-center grid-style-2">
                            <div class="title-wrapper"><p class="name product-title"><a href="ttp://localhost:3000/detailproduct">Tên sản phẩm</a></p></div><div class="price-wrapper">
                                <span class="price"><ins><span class="woocommerce-Price-amount amount">Giá tiền&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                            </div><div class="add-to-cart-button"><a href="/gwatch/san-pham/gg-1000-1a8dr/?add-to-cart=422" rel="nofollow" data-product_id="422" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-flat mb-0 is-small">Thêm vào giỏ</a></div>		</div><!-- box-text -->
                    </div>
                </div>
            </div>


        </div>

    </main><!-- #main -->

    <footer id="footer" class="footer-wrapper" style="margin-top: 55px">

        <section class="section sec_footer dark" id="section_1712701579">
            <div class="bg section-bg fill bg-fill  " >


                <div class="section-bg-overlay absolute fill"></div>


            </div><!-- .section-bg -->

            <div class="section-content relative">


                <div class="gap-element" style="display:block; height:auto; padding-top:40px" class="clearfix"></div>

                <div class="row align-center"  id="row-816441853">

                    <div class="col medium-6 small-12 large-4"  ><div class="col-inner"  >

                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_988653477">
                                <div class="img-inner dark" >
                                    <img width="512" height="133" src="../public/images/logo.png" class="attachment-original size-original" alt="" srcset="../public/images/logo.png 512w, ../public/images/logo.png 300w" sizes="(max-width: 512px) 100vw, 512px" />
                                </div>

                                <style scope="scope">

                                    #image_988653477 {
                                        width: 65%;
                                    }
                                </style>
                            </div>



                            <div class="icon-box featured-box icon-box-left text-left"  >
                                <div class="icon-box-img" style="width: 20px">
                                    <div class="icon">
                                        <div class="icon-inner" >
                                            <?xml version="1.0" encoding="iso-8859-1"?>
                                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 440 440" style="enable-background:new 0 0 440 440;" xml:space="preserve">
<g>
    <path d="M340.57,241.141c-54.826,0-99.429,44.604-99.429,99.43c0,54.825,44.604,99.429,99.429,99.429S440,395.396,440,340.571
		C440,285.745,395.396,241.141,340.57,241.141z M328.122,395.104l-58.807-58.807l21.213-21.213l37.594,37.594l56.035-56.034
		l21.213,21.213L328.122,395.104z"/>
    <path d="M166.62,119.397c-24.813,0-45,20.187-45,45s20.187,45,45,45c24.813,0,45-20.187,45-45S191.433,119.397,166.62,119.397z"/>
    <path d="M326.984,211.853c4.067-14.39,6.256-29.559,6.256-45.234C333.24,74.745,258.494,0,166.62,0C74.746,0,0,74.745,0,166.619
		c0,38.93,13.421,74.781,35.878,103.177L166.62,434.174l48.641-61.155c-2.688-10.373-4.12-21.247-4.12-32.448
		C211.141,273.791,261.978,218.665,326.984,211.853z M91.62,164.397c0-41.355,33.645-75,75-75c41.355,0,75,33.645,75,75
		s-33.645,75-75,75C125.265,239.397,91.62,205.752,91.62,164.397z"/>
</g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
</svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">


                                    <p>12 Nguyễn Văn Bảo P.4 Quận Gò Vấp TP.HCM</p>

                                </div>
                            </div><!-- .icon-box -->



                            <div class="icon-box featured-box icon-box-left text-left"  >
                                <div class="icon-box-img" style="width: 20px">
                                    <div class="icon">
                                        <div class="icon-inner" >
                                            <?xml version="1.0" encoding="iso-8859-1"?>
                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
<g>
    <path d="M586.923,256.013c-7.959-8.24-16.655-13.074-24.53-15.916c10.798-62.807,8.812-97.901-246.643-178.322
		C55.771-20.07,26.688,13.85,5.274,81.869L1.622,93.471c-5.794,18.406,4.43,38.025,22.836,43.82l83.405,26.257
		c18.407,5.794,38.025-4.43,43.82-22.836l3.652-11.602c16.587-52.69,97.773-28.905,143.76-14.428
		c45.986,14.477,126.155,41.49,109.568,94.18l-3.653,11.601c-5.794,18.406,4.43,38.025,22.836,43.82l83.405,26.257
		c18.406,5.795,38.025-4.429,43.82-22.835l2.369-8.038c4.933,2.036,10.229,5.149,15.123,10.215
		c17.553,18.182,23.378,53.308,16.842,101.589c-11.335,83.657-44.21,113.537-79.221,123.481v-14.553
		c0-14.775-3.693-29.4-11.181-42.179c-34.94-59.797-84.556-112.856-147.598-159.626v-35.34c0-2.745-2.246-4.992-4.991-4.992h-51.862
		c-2.795,0-4.992,2.247-4.992,4.992v35.139h-59.199v-35.139c0-2.745-2.246-4.992-4.992-4.992H173.46
		c-2.746,0-4.992,2.247-4.992,4.992v35.139C105.326,325.264,55.661,378.322,20.67,438.22C13.183,450.998,9.49,465.623,9.49,480.397
		v32.894c0,46.87,37.985,84.855,84.854,84.855h330.984c46.136,0,83.581-36.824,84.745-82.679
		c56.115-13.143,87.95-58.928,99.111-141.316C616.681,318.816,609.189,279.069,586.923,256.013z M346.544,481.271l-33.304-11.858
		c3.533-7.12,5.57-15.115,5.57-23.606c0-29.35-23.809-53.159-53.208-53.159c-29.35,0-53.209,23.81-53.209,53.159
		c0,29.4,23.859,53.21,53.209,53.21c10.87,0,20.965-3.271,29.386-8.859l18.266,30.026c-13.76,8.835-30.087,14.022-47.652,14.022
		c-48.817,0-88.349-39.582-88.349-88.398c0-48.767,39.533-88.349,88.349-88.349c48.816,0,88.399,39.583,88.399,88.349
		C354.001,458.429,351.311,470.408,346.544,481.271z"/>
</g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
</svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">


                                    <p><a href="tel:0932774940">0932774940 / 0903809504 / 0346065968</a></p>

                                </div>
                            </div><!-- .icon-box -->



                            <div class="icon-box featured-box icon-box-left text-left"  >
                                <div class="icon-box-img" style="width: 20px">
                                    <div class="icon">
                                        <div class="icon-inner" >
                                            <?xml version="1.0" encoding="iso-8859-1"?>
                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="308.728px" height="308.728px" viewBox="0 0 308.728 308.728" style="enable-background:new 0 0 308.728 308.728;"
                                                 xml:space="preserve">
<g>
    <g>
        <path d="M153.188,27.208c-37.562,1.134-130,55.057-144.495,63.65l-7.981,32.664l40.236,28.809l-7.733-27.01l189.62-54.288
			l26.895,93.949l58.098-41.331l-10.004-32.698C283.848,82.656,190.877,28.342,153.188,27.208z"/>
        <polygon points="308.728,281.52 308.728,195.199 308.728,160.289 308.728,136.255 306.809,137.621 252.882,175.988
			222.101,197.888 226.557,202.27 231.942,207.581 237.326,212.886 243.833,219.288 307.02,281.52 		"/>
        <polygon points="0,137.415 0,150.224 0,281.52 1.479,281.52 60.832,221.766 66.667,215.892 72.127,210.391 77.588,204.891
			85.158,197.271 45.731,169.042 8.147,142.135 0,136.299 		"/>
        <path d="M231.905,222.705l-9.692-9.545l-5.39-5.311l-5.39-5.31l-1.382-1.366l-5.489-5.4l-0.954-0.938
			c-1.599-1.576-3.27-3.053-4.989-4.461c-12.777-10.457-28.655-16.158-45.399-16.158c-16.767,0-32.616,5.69-45.394,16.137
			c-1.938,1.582-3.813,3.265-5.598,5.058l-0.334,0.338l-5.363,5.399l-3.452,3.48l-5.458,5.495l-5.46,5.495l-17.921,18.046
			l-47.276,47.593h274.396L231.905,222.705z"/>
    </g>
</g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
</svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">


                                    <p><a href="mailto:demonhunterg@gmail.com">hqboutiques@gmail.com</a></p>

                                </div>
                            </div><!-- .icon-box -->






                        </div></div>
                    <div class="col medium-3 small-6 large-2"  ><div class="col-inner"  >

                            <h3>MENU</h3>
                            <ul class="sidebar-wrapper ul-reset "><div class="mona_sidebar_footer"><div class="menu-menu-footer-company-container"><ul id="menu-menu-footer-company" class="menu">
                                            <li id="menu-item-361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a href="http://localhost:3000/">Trang chủ</a></li>
                                            <li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="http://mauweb.monamedia.net/gwatch/lien-he/">Liên hệ</a></li>
                                            <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483"><a href="http://mauweb.monamedia.net/gwatch/kiem-tra-don-hang/">Kiểm tra đơn hàng</a></li>
                                        </ul></div></div></ul>


                        </div></div>
                    <div class="col medium-3 small-6 large-2"  ><div class="col-inner"  >

                            <h3>SẢN PHẨM</h3>
                            <ul class="sidebar-wrapper ul-reset "><div class="mona_sidebar_footer"><div class="menu-danh-muc-san-pham-vertical-menu-container"><ul id="menu-danh-muc-san-pham-vertical-menu" class="menu">
                                            <li id="menu-item-445" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-445"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/aviator/">Gucci</a></li>
                                            <li id="menu-item-446" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-446"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/baby-g/">Chanel</a></li>
                                            <li id="menu-item-447" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-447"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/edifice/">Balenciaga</a></li>
                                            <li id="menu-item-448" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-448"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/g-shock/">Nike</a></li>
                                            <li id="menu-item-449" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-449"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/g-steel/">Adidas</a></li>
                                            <li id="menu-item-450" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-450"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/gravity-master/">Vans</a></li>
                                        </ul></div></div></ul>


                        </div></div>
                    <div class="col medium-6 small-12 large-4"  ><div class="col-inner"  >
                            <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                            <div class="social-icons follow-icons " style="font-size:120%"><a href="https://www.facebook.com/khang.huynhanh" target="_blank" data-label="Facebook"  rel="noopener noreferrer nofollow" class="icon plain facebook tooltip" title="Follow on Facebook"><i class="fa fa-facebook-official" ></i></a><a href="https://www.instagram.com/bb.4298/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain  instagram tooltip" title="Follow on Instagram"><i class="fa fa-instagram" ></i></a></div>


                        </div></div>


                    <style scope="scope">

                    </style>
                </div>

            </div><!-- .section-content -->


            <style scope="scope">

                #section_1712701579 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                #section_1712701579 .section-bg-overlay {
                    background-color: rgba(10, 10, 10, 0.8);
                }
                #section_1712701579 .section-bg.bg-loaded {
                    background-image: url(http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/footer-background.jpg);
                }
            </style>
        </section>

        <div class="absolute-footer dark medium-text-center text-center">
            <div class="container clearfix">


                <div class="footer-primary pull-left">
                    <div class="copyright-footer">
                        © Bản quyền thuộc về DHKTPM12ATT. Thiết kế website HQBoutiques </div>
                </div><!-- .left -->
            </div><!-- .container -->
        </div><!-- .absolute-footer -->

        <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link"><i class="fa fa-angle-up" ></i></a>

    </footer><!-- .footer-wrapper -->

</div><!-- #wrapper -->

<!-- Mobile Sidebar -->
<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
            <li class="header-search-form search-form html relative has-icon">
                <div class="header-search-form-wrapper">
                    <div class="searchform-wrapper ux-search-box relative form-flat is-normal"><form role="search" method="get" class="searchform" action="http://mauweb.monamedia.net/gwatch/">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow">
                                    <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm ..." />
                                    <input type="hidden" name="post_type" value="product" />
                                </div><!-- .flex-col -->
                                <div class="flex-col">
                                    <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                        <i class="fa fa-search" ></i>				</button>
                                </div><!-- .flex-col -->
                            </div><!-- .flex-row -->
                            <div class="live-search-results text-left z-top"></div>
                        </form>
                    </div>	</div>

            </li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-476"><a href="http://localhost:3000/" class="nav-top-link">Trang chủ</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-54"><a href="http://mauweb.monamedia.net/gwatch/cua-hang/" class="nav-top-link">Shop</a>
                <ul class=children>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-459"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/aviator/">Áo</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-460"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/baby-g/">Quần</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-461"><a href="http://mauweb.monamedia.net/gwatch/danh-muc/edifice/">Giày</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://mauweb.monamedia.net/gwatch/lien-he/" class="nav-top-link">Liên hệ</a></li>
            <li class="html header-social-icons ml-0">
                <div class="social-icons follow-icons " ><a href="https://www.facebook.com/khang.huynhanh" target="_blank" data-label="Facebook"  rel="noopener noreferrer nofollow" class="icon plain facebook tooltip" title="Follow on Facebook"><i class="fa fa-facebook" ></i></a><a href="https://www.instagram.com/bb.4298/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain  instagram tooltip" title="Follow on Instagram"><i class="fa fa-instagram" ></i></a></div></li>        </ul>
    </div><!-- inner -->
</div><!-- #mobile-menu -->
<a href="tel:0932774940" class="hotlinemp" rel="nofollow">
    <div class="mypage-alo-phone" style="">
        <div class="animated infinite zoomIn mypage-alo-ph-circle">
        </div>
        <div class="animated infinite pulse mypage-alo-ph-circle-fill">
        </div>
        <div class="animated infinite tada mypage-alo-ph-img-circle">
        </div>
    </div>
</a>
<div id="login-form-popup" class="lightbox-content mfp-hide">
    <div class="woocommerce-notices-wrapper"></div>

</div>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@graph":[{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Trang ch\u1ee7","@id":"http:\/\/mauweb.monamedia.net\/gwatch"}},{"@type":"ListItem","position":2,"item":{"name":"Baby-G","@id":"http:\/\/mauweb.monamedia.net\/gwatch\/danh-muc\/baby-g\/"}},{"@type":"ListItem","position":3,"item":{"name":"BA-110PP-7ADR","@id":"http:\/\/mauweb.monamedia.net\/gwatch\/san-pham\/ba-110pp-7adr\/"}}]},{"@context":"https:\/\/schema.org\/","@type":"Product","@id":"http:\/\/mauweb.monamedia.net\/gwatch\/san-pham\/ba-110pp-7adr\/","name":"BA-110PP-7ADR","image":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-content\/uploads\/2018\/11\/ba-110pp-7adr-01.png","description":"<h2><b>B\u1ed9 s\u1ea3n ph\u1ea9m g\u1ed3m:<\/b><\/h2>\n<ul class=\"infocomes\">\n<li>1 \u0111\u1ed3ng h\u1ed3 ch\u00ednh h\u00e3ng.<\/li>\n<li>1 h\u1ed9p gi\u1ea5y + 1 h\u1ed9p thi\u1ebfc (t\u00f9y s\u1ea3n ph\u1ea9m).<\/li>\n<li>1 th\u1ebb b\u1ea3o h\u00e0nh c\u1ee7a GWatch.<\/li>\n<li>Th\u1ebb b\u1ea3o h\u00e0nh ch\u00ednh h\u00e3ng qu\u1ed1c t\u1ebf 1 n\u0103m &amp; 18 th\u00e1ng cho Pin<\/li>\n<li>S\u00e1ch h\u01b0\u1edbng d\u1eabn s\u1eed d\u1ee5ng c\u00e1c th\u1ee9 ti\u1ebfng.<\/li>\n<li>Th\u00f4ng tin c\u00e1c \u0111\u1ed1i t\u00e1c b\u1ea3o h\u00e0nh G-SHOCK &amp; BABY-G tr\u00ean to\u00e0n c\u1ea7u.<\/li>\n<li>H\u1ed7 tr\u1ee3 h\u01b0\u1edbng d\u1eabn s\u1eed d\u1ee5ng v\u00e0 t\u01b0 v\u1ea5n s\u1ea3n ph\u1ea9m tr\u1ecdn \u0111\u1eddi.<\/li>\n<\/ul>\n","sku":"","offers":[{"@type":"Offer","price":"3299000","priceSpecification":{"price":"3299000","priceCurrency":"VND","valueAddedTaxIncluded":"false"},"priceCurrency":"VND","availability":"https:\/\/schema.org\/InStock","url":"http:\/\/mauweb.monamedia.net\/gwatch\/san-pham\/ba-110pp-7adr\/","seller":{"@type":"Organization","name":"gwatch","url":"http:\/\/mauweb.monamedia.net\/gwatch"}}]}]}</script>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" style="">

    <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container" style="transform: translate3d(0px, 0px, 0px);">
            <div class="pswp__item" style="display: block; transform: translate3d(-2131px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(510px, 44px, 0px) scale(1);"><div class="pswp__img pswp__img--placeholder pswp__img--placeholder--blank" style="width: 883px; height: 881px; display: none;"></div><img class="pswp__img" src="http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/ba-110pp-7adr-03.jpg" style="width: 883px; height: 881px;"></div></div>
            <div class="pswp__item" style="transform: translate3d(0px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(552px, 85px, 0px) scale(0.908059);"><div class="pswp__img pswp__img--placeholder pswp__img--placeholder--blank" style="width: 881px; height: 881px; display: none;"></div><img class="pswp__img" src="http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/ba-110pp-7adr-01.png" style="display: block; width: 881px; height: 881px;"></div></div>
            <div class="pswp__item" style="display: block; transform: translate3d(2131px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(511px, 44px, 0px) scale(1);"><div class="pswp__img pswp__img--placeholder pswp__img--placeholder--blank" style="width: 881px; height: 881px; display: none;"></div><img class="pswp__img" src="http://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/ba-110pp-7adr-02.jpg" style="width: 881px; height: 881px;"></div></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter">1 / 4</div>

                <button class="pswp__button pswp__button--close" aria-label="Đóng (Esc)"></button>

                <button class="pswp__button pswp__button--zoom" aria-label="Phóng to/ thu nhỏ"></button>

                <div class="pswp__preloader">
                    <div class="loading-spin"></div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap pswp__element--disabled">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button--arrow--left" aria-label="Ảnh trước (mũi tên trái)"></button>

            <button class="pswp__button--arrow--right" aria-label="Ảnh tiếp (mũi tên phải)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center">ba-110pp-7adr-01</div>
            </div>

        </div>

    </div>

</div>
<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"H\u00e3y x\u00e1c nh\u1eadn r\u1eb1ng b\u1ea1n kh\u00f4ng ph\u1ea3i l\u00e0 robot."}}};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.5"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/ot-flatsome-vertical-menu/assets/js/ot-vertical-menu.js?ver=1.1.0"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/gwatch\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/gwatch\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Xem gi\u1ecf h\u00e0ng","cart_url":"http:\/\/mauweb.monamedia.net\/gwatch\/gio-hang\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.5.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wc_single_product_params = {"i18n_required_rating_text":"Vui l\u00f2ng ch\u1ecdn m\u1ed9t m\u1ee9c \u0111\u00e1nh gi\u00e1","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":""};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=3.5.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/gwatch\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/gwatch\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.5.1"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/gwatch\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/gwatch\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_8b99aefe437f73d7fd05770eb10e6a1b","fragment_name":"wc_fragments_8b99aefe437f73d7fd05770eb10e6a1b"};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.5.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.7.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var flatsomeVars = {"ajaxurl":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};
    /* ]]> */
</script>

<script>
    function doihinh(path)
    {

        document.getElementById('hinhlon').src = path;
    }
</script>

<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/js/flatsome.js?ver=3.7.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=3.7.1"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/comment-reply.min.js?ver=4.9.12"></script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/wp-embed.min.js?ver=4.9.12"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var _zxcvbnSettings = {"src":"http:\/\/mauweb.monamedia.net\/gwatch\/wp-includes\/js\/zxcvbn.min.js"};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-includes/js/zxcvbn-async.min.js?ver=1.0"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var pwsL10n = {"unknown":"M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh","short":"R\u1ea5t y\u1ebfu","bad":"Y\u1ebfu","good":"Trung b\u00ecnh","strong":"M\u1ea1nh","mismatch":"M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp"};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-admin/js/password-strength-meter.min.js?ver=4.9.12"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wc_password_strength_meter_params = {"min_password_strength":"3","i18n_password_error":"Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.","i18n_password_hint":"G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )."};
    /* ]]> */
</script>
<script type="text/javascript" src="http://mauweb.monamedia.net/gwatch/wp-content/plugins/woocommerce/assets/js/frontend/password-strength-meter.min.js?ver=3.5.1"></script>
<style type="text/css"></style><script type="text/javascript">var essb_clicked_lovethis = false; var essb_love_you_message_thanks = "Thank you for loving this."; var essb_love_you_message_loved = "You already love this today."; var essb_lovethis = function(oInstance) { if (essb_clicked_lovethis) { alert(essb_love_you_message_loved); return; } var element = jQuery('.essb_'+oInstance); if (!element.length) { return; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var cookie_set = essb_get_lovecookie("essb_love_"+instance_post_id); if (cookie_set) { alert(essb_love_you_message_loved); return; } if (typeof(essb_settings) != "undefined") { jQuery.post(essb_settings.ajax_url, { 'action': 'essb_love_action', 'post_id': instance_post_id, 'service': 'love', 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { alert(essb_love_you_message_thanks); }},'json'); } essb_tracking_only('', 'love', oInstance, true); }; var essb_get_lovecookie = function(name) { var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift(); };var essb_window = function(oUrl, oService, oInstance) { var element = jQuery('.essb_'+oInstance); var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; var wnd; var w = 800 ; var h = 500; if (oService == "twitter") { w = 500; h= 300; } var left = (screen.width/2)-(w/2); var top = (screen.height/2)-(h/2); if (oService == "twitter") { wnd = window.open( oUrl, "essb_share_window", "height=300,width=500,resizable=1,scrollbars=yes,top="+top+",left="+left ); } else { wnd = window.open( oUrl, "essb_share_window", "height=500,width=800,resizable=1,scrollbars=yes,top="+top+",left="+left ); } if (typeof(essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof(essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); var pollTimer = window.setInterval(function() { if (wnd.closed !== false) { window.clearInterval(pollTimer); essb_smart_onclose_events(oService, instance_post_id); } }, 200); }; var essb_self_postcount = function(oService, oCountID) { if (typeof(essb_settings) != "undefined") { oCountID = String(oCountID); jQuery.post(essb_settings.ajax_url, { 'action': 'essb_self_postcount', 'post_id': oCountID, 'service': oService, 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { }},'json'); } }; var essb_smart_onclose_events = function(oService, oPostID) { if (typeof (essbasc_popup_show) == 'function') { essbasc_popup_show(); } if (typeof essb_acs_code == 'function') { essb_acs_code(oService, oPostID); } }; var essb_tracking_only = function(oUrl, oService, oInstance, oAfterShare) { var element = jQuery('.essb_'+oInstance); if (oUrl == "") { oUrl = document.URL; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; if (typeof(essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof(essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); if (oAfterShare) { essb_smart_onclose_events(oService, instance_post_id); } }; var essb_pinterest_picker = function(oInstance) { essb_tracking_only('', 'pinterest', oInstance); var e=document.createElement('script'); e.setAttribute('type','text/javascript'); e.setAttribute('charset','UTF-8'); e.setAttribute('src','//assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e); };</script>
<style>
    #hinhanhthem
    {
        width:88px;
        height:300px;
        float:left;
    }

    #hinhanhthem img
    {
        border:3px solid #999;
        margin: 2px;
    }

    #hinhanhthem img:hover
    {
        border:3px solid #666;
    }

    #hinhlon
    {
        margin-top: 2px;
        margin-left: 16px;
    }

    #chitiet_sanpham
    {
        height:500px;
        width:400px;
        font-family:Arial, Helvetica, sans-serif;
        float:left;
    }

    #chitiet_sanpham li
    {
    }

    #hinhanhthem img
    {
        border:3px solid #999;
    }

    #btn_addcart
    {
        width: 200px;
        height: 40px;
    }

    #btn_addcart:hover
    {
        background-color: orange;
        color: white;
    }

</style>

</body></html>